h1{
  position: sticky;
  text-align: center;
  vertical-align: center;
}
.header
{
  background-color: lightblue;
  height: 100px;
}

.navbar{
  background-color: maroon;
  height: 75px;
  display: flex;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: lightgrey;
  border-radius: 8px;
  font-size: 17px;
  position: absolute;
  width: 100px;
  text-align: center;
  align-content: center;
}

.navbar a:hover, a:active{
  background-color: #565656;
  color: lightgrey;
}

.navbar a:focus{
  background-color: #565656;
  color: lightgrey;
}

input:focus {
  outline: none;
}

#home_tab {
  margin-left: 0%;
}

#create_tab {
  margin-left: 20%;
}

#webpage_title {
  font-family: "Apple Chancery";
}
