<form [formGroup]="newStudent" (ngSubmit)="createStudent()">

  <label> First Name
    <input formControlName="firstName" type="text">
  </label>

  <label> Last Name
    <input formControlName="lastName" type="text">
  </label>

  <label> Class
    <select formControlName="classModel">
      <option [value]="class.id" *ngFor="let class of classes"> {{class.className}} </option>
    </select>
  </label>

  <button type="submit" [disabled]="!newStudent.valid"> Create </button>

</form>
