<div *ngFor="let student of this.students">

  <div class="column card oneFifth">
    <img src="{{student.picture}}" alt="" height="200">

    <div class="container">

      <h4><b> Name: {{student.firstName}} {{student.lastName}} </b></h4>
      <h4><b> Grade: {{student.classModel}} </b></h4>
      <h4><b> GPA: {{student.gpa}} </b></h4>

      <button [id]="student.id + gpa" type="button" (click)="addGPA(student.id)"> Add Grade </button>
      <button [id]="student.id" type="button" (click)="testGPA(student.id, student.gpa)"> TEST </button>

    </div>

  </div>

</div>

<form id="buyPopup" *ngIf="showBuyPopup">
  <button id="closeBtn"(click)="closeBuyTickets()">X</button>
  Buy tickets for:<br>
  Quantity:  <input id="quantityIn">
  <button>Add to Cart</button>
</form>
